POSTGRES_USER=<DB USER NAME>
POSTGRES_PASSWORD=<DB PASSWORD>
POSTGRES_MULTIPLE_DATABASES=airflow,de_challenge

MINIO_ROOT_USER=<USER>
MINIO_ROOT_PASSWORD=<PASSWORD>
MINIO_DEFAULT_BUCKETS=de-challenge

KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
KAFKA_LISTENERS=PLAINTEXT://0.0.0.0:9092
KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181

AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgresql+psycopg2://<PGUSER>:<PGPWD>@postgres/airflow
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__CORE__FERNET_KEY=pBhM1iljgTQol9rwMy0ePfYTHpm_iZNTF3V5Tw1b5RA=
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=True
AIRFLOW__CORE__LOAD_EXAMPLES=False

AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://<PGUSER>:<PGPWD>@postgres/airflow
AIRFLOW__DATABASE__LOAD_DEFAULT_CONNECTIONS=False

_AIRFLOW_DB_UPGRADE=True
_AIRFLOW_WWW_USER_CREATE=True
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=admin

AIRFLOW_CONN_POSTGRES_DE_CHALLENGE='postgres://<PGUSER>:<PGPWD>@postgres:5432/de_challenge'